html{
    background: rgba(255,255,255,.15) url(../img/purty_wood.png) repeat fixed center top;
}

body{
    /* font-family: 'Architects Daughter', cursive; */
    font-family: 'Caveat Brush', cursive;
    margin: 0 auto;
    max-width: 1024px;
    /* min-height: 100vh; */
    min-height: 100vh;
    display: grid;
    grid-template-areas:"nav nav" 
                        "header header"
                        "main aside"
                        "footer footer";
    grid-template-columns:1fr 250px ;
    grid-template-rows: auto 1fr 2fr;
    background: #fff;
    
}

#page_nav{
    grid-area: nav;
    grid-column: 2/3;
}
#page-header{
    grid-area: header;
}
#right-sidebar{
    grid-area: aside;
}
#main{
    grid-area: main;
}
#page-footer{
    grid-area: footer;
}
h1{
    color: #fff;
    font-size: 4em;
    line-height: 55px;
}
h1 small{padding-left: 2em;}
h1, h2, h3{font-family: 'Caveat Brush', cursive;}
/* -------- nav ----- */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    /* border-top-left-radius: 10px; */
    border-top-right-radius: 10px;
    
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    color: #efca2b;
}
nav .active {
    background-color: #efca2b;
    color: #fff;
}
nav .active:hover{color: #fff;}
/* -----nav_end ------ */
/* ----- header ------ */
.header{
    background: url("../img/header.jpg")no-repeat center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}
.bg_demp{
    background: rgba(255, 255, 255,0.2);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}
/* -----header_end ----- */
.border{
    border: 1px solid #efca2b;
    background-clip: padding-box;
    border-radius: 10px;
}
.content-padding{
    padding: 10px;
}
/* ----- sidebar ---- */
.sidebar_css{text-align: center;}
.sidebar_css img{
    max-width: 100%;    
}
/* ----sidebar_end ------ */
/* ----- main_index ---- */
.wrapper {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 10px;
    background-color: #fff;
    text-align: center;
  }
  
  .box {    
    border: 2px solid #efca2b;
    border-radius: 5px;
    padding: 10px;    
    box-sizing: border-box;
  }
  .box a{text-decoration: none; text-decoration-color: none;color: #000;}
  .box .bestelBtn{
      color: #fff;
      border: 1px solid #fff;
      border-radius: 5px;
      transition: 0.5s all;
      -webkit-transition: 0.5s all;
      -o-transition: 0.5s all;
      -ms-transition: 0.5s all;
      -moz-transition: 0.5s all;
    }
  .box img{display: block; margin: 0 auto;}
  .box:hover a{color: #000;} 
  .box:hover{
    position: relative;
    top:0px;   
    background: rgb(239, 202, 43);
    color: #000;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;

}
.box:hover .bestelBtn{
    color: #000;
    
    background: #fff;
    font-size: 18px;
    letter-spacing: 2px;
}

  /* ----main_bestel --- */
  .formcontainer{
      padding-top: 50px;
    width: 400px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row-gap: 5px;
}
.form-radiogroup > label{
    display: block;
}
.formlabel{
    text-align: right;
    padding-right: 5px;
}
.forminput{grid-column: 2/3;}
.formbutton{
    grid-column: 2/3;
}
.bestel_tabel{
    padding-top: 100px;
}
table, th, td {
    border: 1px solid #efca2b;
}
.more-btn {
    font-family: 'Caveat Brush', cursive;
    /* padding: 10px 0; */
    background: #efca2b;
    color: #fff;
    border: 3px #efca2b solid;
    letter-spacing: 4px;
    text-align: center;
    font-size: 1.6em;
    border-radius: 10px;
}
.more-btn:hover {
    color: #efca2b;
    background: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
}
/* ------ main_end ---- */
/* ---- footer ----- */
.footer{border: 1px solid #efca2b; border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;}
.footer .copyright{float: left;}
.footer a .fa:hover{
    color: #efca2b;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
}
.fa{color: #000; float: right;padding: 0 15px;}
/* ----- footer_end ---- */