body{max-width: 800px;margin: 0 auto;}
h1{
    color: #fff;
    font-size: 3em;
    text-shadow: 2px 2px #000000;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    bottom: -35px;
    line-height: 0;
    
}
#img{padding-left: 2em;}
.bg{
    background: #fff;
    padding:  5em 0;
    display: block;
    margin: 0 auto;
    border: 5px solid #000000;
}
label{display: block;text-align: right; padding-right: 3em;}