<h1>Template reference variable</h1>
<form #f="ngForm">
    <label for="txtType">Type: </label>
    <select name="broodje" id="txtType" *ngIf="broodjes.length > 0" ngModel>
      <option  *ngFor="let broodje of broodjes" [ngValue]="broodje">{{ broodje.naam }}</option>
    </select>
  <label for="txtAantal">Aantal: </label><input type="number"  id="txtAantal" [(ngModel)]="aantal" name="txtAantal" >

  <input type="button"  value="Bestellen" id="btnBestel" (click)="addBroodje();">
  
  
</form>
<table>
  <tr>
      <th>Naam</th>
      <th>Prijs</th>
      <th>Aantal</th>
  </tr>
  <tr>
    <td>{{ f.value.broodje.naam  }}</td>
    <td>{{ f.value.broodje.prijs | currency:"EUR":symbol-narrow  }}</td>
    
  </tr>
</table>
